@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.Main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 45px 30px;
}

.btn-one{
  margin-top: 20px;
}

.bill-one{
  background-color: #F5F4F4;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bill-two{
  margin-top: 15px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e2e1e1;
  width: 100%;
}


.paypal {
  background-color: white;
  padding: 10px 0px;
  color: black;
  border-radius: 8px;
  border: 1px solid #e2e1e1;
  font-weight: bold;
  width: 45%;
}

.bank{
  margin-left: 15px;
  background-color: black;
  padding: 10px 0px;
  color: white;
  border-radius: 8px;
  border: 1px solid black;
  font-weight: bold;
  width: 45%;
}

.rad{
  width: 15px;
  height: 15px;
  border: 3px solid #DC4E4C;
  border-radius: 50%;
}
.ras{
  width: 15px;
  height: 15px;
  border: 1px solid grey;
  border-radius: 50%;
  background-color: white;
}

.total {
  display: flex;
  justify-content: space-between;
}

input{
  margin-top: 10px;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #e2e1e1;
  width: 78%;
}

input:focus{
  outline: none;
}

#discount{
  border-radius: 7px 0px 0px 7px;
}

.holder{
  width: 100%;
}

.hold{
  width: 39vw;
}

.ecvv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.apply {
  padding: 0px 10px;
  height: 35px;
  background-color: #DC4E4C;
  border: 1px solid #DC4E4C;
  color: white;
  font-weight: bold;
  border-radius: 0px 7px 7px 0px;
}

.subscribe {
  margin: 10px 0px;
  padding: 10px;
  background: #F4C6C5;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid #F4C6C5;
  width: 100%;
}

.footer{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.foot{
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .Main{
    width: 65vw;
  }

  .btn-one{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .bord{
    border:1px solid #e2e1e1;
    padding: 0px 20px;
    border-radius: 7px;
    padding-bottom: 25px;
  }

  .bill-one {
    width: 60%;
    height: 100px;
  }

  .bill-two {
    margin-top: 0px;
    width: 60%;
    height: 100px;
    margin-left: 25px;
  }

  .paypal {
    width: 25%;
  }

  .bank {
    width: 25%;
  }

  .all .number{
    width: 57.5vw;
  }

  .all .expire{
    width: 36vw;
  }

  .all .cvv {
    width: 20vw;
  }

  .subscribe{
    width: 13%;
  }

  .footer{
    display: flex;
    flex-direction: row;
  }

  .foot{
    margin-left: 18px;
    width: 39vw;
  }
}